header{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.8rem;
    background-color: #000000;
    border-top: 5px solid #FFCC00;
    border-radius: 0.5rem;
}
h6{
    background-color: #FFCC00;
    border: none;
    border-radius: 0.2rem ;
    font-weight: 600;
    display: flex;
    padding: 0.2rem;
    align-items: center;
    opacity: 70%;
}