@font-face {
    font-family: "Vazir";
    src: url(./fonts/Vazir.woff2) format("woff2");
}
html body{
    direction: rtl;
    font-family: "Vazir";
}
body::after{
    height: 100%;
    content: "";
    background-image: url(../public/Main-img/background-body.jpg);
    background-repeat: no-repeat;
    opacity: 0.6;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    padding-top: 2.2rem;
}
.max-w-100{
    max-width: 100%;
}